@namespace DNF.Projects
@inherits ModuleBase
@inject ISettingService SettingService

<table class="table table-borderless">
    <tr>
        <td>
            <Label For="_token" HelpText="Enter personal access token from Github">Github Token: </Label>
        </td>
        <td>
            <input id="_token" type="text" class="form-control" @bind="@_token" />
        </td>
    </tr>
</table>

@code {
    public override string Title => "Project Settings";

    string _token;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            _token = SettingService.GetSetting(settings, "GithubToken", "");
        }
        catch (Exception ex)
        {
            ModuleInstance.AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    public async Task UpdateSettings()
    {
        try
        {
            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            SettingService.SetSetting(settings, "GithubToken", _token);
            await SettingService.UpdateModuleSettingsAsync(settings, ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            ModuleInstance.AddModuleMessage(ex.Message, MessageType.Error);
        }
    }
}
