/* Module Custom Styles */

.DNF-Projects-Index .chart {
    height: 200px;
}

.DNF-Projects-Index .header {
    margin: auto;
    width: 90% !important;
}

.DNF-Projects-View .header {
    margin: auto;
    width: 50% !important;
}

.DNF-Projects-View .chart {
    height: 400px;
}